<md-toolbar md-whiteframe="">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Events Clock</h2>
    </div>
</md-toolbar>
<div class="page-wrapper" md-whiteframe="">
    <md-content flex layout-padding>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat-start="event in vm.storage.events | orderBy: 'startDate'">
                <div class="md-list-item-text">
                    <h3>
                        <span># </span> {{event.name}}
                    </h3>
                    <p>
                    <span>
                        <b>Start</b> {{event.startDate | amCalendar}},
                    </span>
                    <span>
                        <b>Finish</b> {{event.endDate | amCalendar}}
                    </span>
                    </p>
                    <md-icon ng-click="vm.storage.events.splice($index, 1);" class="md-secondary"
                             md-svg-src="content/icons/ic_delete_black_24px.svg"></md-icon>
                </div>
            </md-list-item>
            <md-divider ng-repeat-end></md-divider>
            <md-list-item style="background: #fafafa; padding: 0 0 0 15px;">
                <div flex layout="column" style="padding-right: 30px;">
                    <md-input-container style="margin-bottom: 0px;">
                        <label>Event description</label>
                        <input ng-model="vm.newEvent.name">
                    </md-input-container>
                    <div layout="row" flex>
                        <div flex="50" layout="row">
                            <md-input-container flex style="margin-bottom: 0px">
                                <label>Starts at:</label>
                                <input mdc-datetime-picker date="true" time="true" type="text"
                                       placeholder="Pick a date"
                                       format="MMMM D, YYYY HH:mm"
                                       ng-model="vm.newEvent.startDate">
                            </md-input-container>
                        </div>
                        <div flex="50" layout="row">
                            <md-input-container flex style="margin-bottom: 0px;">
                                <label>Ends at:</label>
                                <input mdc-datetime-picker date="true" time="true" type="text"
                                       placeholder="Pick a date"
                                       format="MMMM D, YYYY HH:mm"
                                       ng-model="vm.newEvent.endDate">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <md-button class="md-icon-button md-raised md-accent" ng-click="vm.addEvent()">
                    <md-icon>add</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>


<md-fab-speed-dial md-open="vm.openMenu" md-direction="up" class="md-scale md-fab-bottom-right"
                   ng-mouseenter="vm.openMenu=true" ng-mouseleave="vm.openMenu=false">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            ...
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ui-sref="count" aria-label="Start counter" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="left" md-visible="vm.openMenuTooltip" md-autohide="false">Start counter
            </md-tooltip>
            Go!
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>